*{
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif; /* Define a fonte Roboto como fonte padrão para todo o site */
}

/*CABEÇALHO FIXO (AO ROLAR ELE MUDA DE COR)*/
.cabecalho {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Garante que o cabeçalho fique acima do vídeo */
    transition: background-color 0.3s ease; /* Transição suave para a cor de fundo */
    
}

header.scroll {
    background-color: #9dcc9b;
}

.container {
    display: flex;
    align-items: center;
    justify-content: baseline;
    padding: 5px;
    margin-top: 10px;
}

.logo img {
    max-height: 80px; /* Definindo uma altura máxima para a logo */
    margin-right: 29px; /* Espaçamento entre a logo e o menu */
    margin-left: 10px;
}

nav{
    align-items: center;
    justify-content: space-between; /* Adicionando espaço entre a logo e o menu */
    padding: 0px; 
    
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 22px;
    
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

/*----------------FIM----------------*/

/*Botão para fazer login*/
nav .login {
    display: inline-block;
    padding: 10px 20px; /*Altura e largura do botão*/
    background-color: #f5f5f5; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: 1px;
    border-radius: 50px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
    
}

/* Hover do botão dentro do menu */
nav .login:hover {
    background-color: #2a9144; /* Cor de fundo no hover */
    color: white;
}

/*VIDEO COMO PLANO DE FUNDO*/
video{
    width: 100%;
    padding-bottom: 100px; /* Adiciona espaço interno na parte inferior da div */
}
/*----------------FIM----------------*/



/*------------------ARTIGOS------------------*/
.artigos{
    display: flex;
    justify-content: center; /* Centraliza a div horizontalmente */
    margin: 0 auto; /* Centraliza a div na página */
    max-width: 800px; /* Define uma largura máxima para a div */
    padding-bottom: 100px; /* Adiciona espaço interno na parte inferior da div */
    
}

.arttexto {
    flex: 1; /* Ajusta a largura da coluna de texto */
    padding: 20px; /* Adiciona espaçamento interno */
    text-align: justify; /* Justifica o texto */
}

.artimagem {
    flex: 1; /* Ajusta a largura da coluna de imagem */
    padding: 20px; /* Adiciona espaçamento interno */
}

.artimagem img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da sua coluna */
    height: auto; /* Mantém a proporção da imagem */
    width: 400px;
    margin-top: 50px;
}

.arttexto h1{
    margin-bottom: 20px;
}

/*Botão pata visualizar mais artigos*/
.artbnt{
    display: block;
    padding: 10px 20px; /*esse treco bagunça tudo*/
    margin-top: 50px; /* Adiciona espaço entre o texto e o botão */
    background-color: #f5f5f5; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: 1px;
    border-radius: 50px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}

a {
    text-decoration: none; /* Remove o sublinhado dos links */
}
    
/* Hover do botão dentro do menu */
.artbnt:hover {
    background-color: #2a9144; /* Cor de fundo no hover */
    color: white;
}
/*-----------FIM-----------------------*/

/*-------------RECEITAS--------------------*/
.receitas{
    display: flex;
    background-color: #d5e4cf;
    padding-bottom: 100px; /* Adiciona espaço interno na parte inferior da div */
    
}

.rectexto {
    flex: 1; /* Ajusta a largura da coluna de imagem */
    padding: 20px; /* Adiciona espaçamento interno */
    margin-left: 50px;
}

.recimagem img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da sua coluna */
    height: auto; /* Mantém a proporção da imagem */
    width: 400px;
    margin-right: 60px;
    margin-top: 50px;
}

.receitas h2{
    text-align: center;
    margin: 0 auto;
    display: table; /* Isso é necessário para que a margem automática funcione */ 
    margin-bottom: 20px;
}

.receitas h1{
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    display: table; /* Isso é necessário para que a margem automática funcione */ 
}

/*Botão de ler mais que redireciona para outra tela*/
.lerMaisBtn {
    color: #007bff; /* Cor do texto do botão */
    text-decoration: none; /* Remove sublinhado do link */
    
}

/*Botão pata visualizar mais artigos*/
.recbnt{
    display: block;
    padding: 10px 20px; /*esse treco bagunça tudo*/
    margin-top: 50px; /* Adiciona espaço entre o texto e o botão */
    background-color: #f5f5f5; /* Cor de fundo */
    color: black; /* Cor do texto */
    border: 1px;
    border-radius: 50px; /* Bordas arredondadas */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave da cor de fundo */
}
    
/* Hover do botão dentro do menu */
.recbnt:hover {
    background-color: #2a9144; /* Cor de fundo no hover */
    color: white;
}
/*-----------FIM-----------------------*/

/*-------------CALCULADORA--------------------*/
.calculadora {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 50px;
}

.caltexto {
    flex: 1;
    padding-right: 20px;
    max-width: 500px;

}

.caltexto p{
    margin-bottom: 10px;
}

.caltexto h2{
    margin-bottom: 20px;
}

/*CALCULADORA*/
.calculo {
    /*flex: 1;*/
    padding-left: 20px;
    background-color: #6eb47d;
    border-radius: 50px;
    max-width: 450px;
    margin-top: 50px;
    color: white;
    height: 300px;
    
}

input[type="number"],
.calbnt {
    width: 400px;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 50px;
    
}

input{
    max-width: 300px;
    
}

button {
    background-color: #499c70;
    color: #fff;
    cursor: pointer;
    
}

button:hover {
    background-color: #6eb47d;
    
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
}

/*--------------TABELA IMC--------------------*/

.info-imc table {
    border-collapse: collapse;
    margin-bottom: 100px;
    display: flex; /* Usa flexbox para centralizar o conteúdo */
    justify-content: center; /* Centraliza horizontalmente o conteúdo */
    align-items: center; /* Centraliza verticalmente o conteúdo (opcional) */
}

.info-imc th, .info-imc td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: left;
}

.info-imc th {
    background-color: #2a836b;
    font-weight: bold;
}

.info-imc tr:nth-child(even) {
    background-color: #f9f9f9;
}

.info-imc tr:hover {
    background-color: #d5e4cf;
}

.info-imc h2{
    margin-bottom: 20px;
    text-align: center;
}

/*RADAPE*/

.rodape {
    background-color: #9dcc9b; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 20px 0; /* Espaçamento interno do rodapé */
    text-align: center; /* Alinhamento do texto no centro */
}

.container {
    max-width: 1200px; /* Largura máxima do conteúdo do rodapé */
    margin: 0 auto; /* Centraliza o conteúdo do rodapé horizontalmente */
}
